<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Danh sach oto</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="control.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Car Center</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="home.html">Home</a></li>
				<li><a href="cars.html">Cars</a></li>
				<li><a href="buyinsurance.html">By Insurance</a></li>
			</ul>
			<form class="navbar-form navbar-left" action="/car/search"
				method="GET">
				<div class="input-group">
					<input type="text" class="form-control" name="carId"
						placeholder="Car_ID">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>
	<div ng-controller="cars">
		<h4>Danh sách ô tô</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Type</th>
					<th>NumberPlate</th>
					<th>YearOfManufacture</th>
					<th>Brand</th>
					<th>HaveInsurance</th>
					<th>HavePositioningDevice</th>
					<th>HavePowerSteering</th>
					<th>ActionDuration</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in car">
					<th>{{x.id}}</th>
					<th>{{x.type}}</th>
					<th>{{x.numberPlate}}</th>
					<th>{{x.yearOfManufacture}}</th>
					<th>{{x.brand}}</th>
					<th>{{x.haveInsurance}}</th>
					<th>{{x.havePositioningDevice}}</th>
					<th>{{x.havePowerSteering}}</th>
					<th>{{x.actionDuration}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</html>