
body{ 
	font-family: Arial, sans-serif; 
	font-size: 16px
	line-height: 1.254em;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #3B8BBA;

}

#container{
	padding-left: 150px;
	position: relative;
	left: 0;
	width: 100%; 
}
#menu{
	text-color: white;
	width: 150px;
	left: 0;
}

.content{
	overflow: auto;
	margin: 1.5em auto;
}

.content .col{
	float: left;
	width: 30%;
}

#footer{
	width: 100%;
	height: 20px;
	clear: both;
	background-color: blue;
	text-align: center;

/*body{
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;

	}	

}
#container{
	padding-left: 150px;	
	position: relative;
	left: 0;
	width: 100%
}
#head 
{	
	margin: 5px;
	height: 60px;
	background: green;
	text-align: center;

}

#content{
	width: 100%;
	height: 500px;
	text-align: center;
	
}
#left{
	float: left;
	 width: 50%;
	 height: 500px;
	 background: red;
}
#right: {
	float: right;
	width: 50%;
	height: 500px;
	background-color: white;
}

#footer{
	width: 100%;
	height: 20px;
	clear: both;
	background-color: blue;
	text-align: center;
}*/